h1{
    border-bottom: 1px solid black;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
}
h1 a{
    text-decoration: none;
    color: black;
}
#grid ul{
        border-right: 1px solid black;
        width: 100px;
        margin: 0;
        padding-top: 10px;
}
#main{
    margin: 0;
}
h2{
    margin: 0;
    padding-top: 10px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}